{% extends 'base.html' %}

{% block content %}

<div>
    <details>
        <summary>
        Paste your csv data
        </summary>
            
            <form method="post">
            <label for="instlist">Institution list</label>
            <input type="text" id="instlist" name="instlist"><br><br>
            <label for="namelist">Name list</label>
            <input type="text" id="namelist" name="namelist"><br><br>
            <input type="hidden" id="reqtype" name="reqtype" value=1>
            <input type="submit" value="Submit">
        </form>

    </details>

</div>

<div>
    <details>
        <summary>
        Upload files
        </summary>

            <form action="" method="post">
                <label for="instlist">Select a file:</label>
                <input type="file" id="instlist" name="instlist"><br><br>
                <label for="namelist">Select a file:</label>
                <input type="file" id="namelist" name="namelist"><br><br>
                <input type="hidden" id="reqtype" name="reqtype" value=2>
                <input type="submit" value="Submit">
            </form>

 
    </details>

</div>


<div>

    <details>
        <summary>
        Paste Google Drive public urls
        </summary>
        <form action="" method="post">
            <label for="instlist">Insert a gdrive public document URL:</label>
            <input type="url" id="instlist" name="instlist"><br><br>

            <label for="namelist">Insert a gdrive public document URL:</label>
            <input type="url" id="namelist" name="namelist"><br><br>
            <input type="hidden" id="reqtype" name="reqtype" value=3>
            <input type="submit" value="Submit">
        </form>

    </details>


</div>

{% endblock %}